GOOGLE_MAPS_API_KEY=xxx

# The subdirectory the app is hosted in, if any. For example, if the app is
# hosted at https://example.com/hfrnet, set SUBDIRECTORY='/hfrnet
SUBDIRECTORY=''

# The user/pass that will be used to create the database
# If this value is changed, make sure to update client/www/lib/diagnostics/hfrnet_db.ini
MYSQL_USER=hfrnet_user
MYSQL_PASSWORD=hfrnet_password
MYSQL_ROOT_PASSWORD=hfrnet_password

# URL of the api service, or point to the deployed dev/prod api.
# API_URL=https://hfradar.ioos.us/hfrnet/api
API_URL=http://localhost:5000