# AWS Configuration
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx

# S3 Bucket
BUCKET_NAME=rps-nccf-hfrnet-dissemination-prod

# Absolute path to the scripts directory (required if running via cron)
SCRIPTS_DIR=/path/to/hfrnet-app/scripts

# Database Configuration - Main HFRadar Database (for acquisition.py)
DB_HOST=localhost
DB_PORT=3306
DB_USER=hfrnet_user
DB_PASSWD=hfrnet_password
DB_DATABASE=hfradar

# Logging Configuration (optional)
# LOG_FILE_PATH=logfile.log
LOG_LEVEL=INFO